.header {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  padding: 40px 0;

  // Column
  .col {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // Logo
  &__logo {
    max-height: 48px;

    img {
      display: block;
      height: 100%;
    }
  }

  // Nav
  .nav {
    &__link {
      padding: $gutters 0;

      &--button {
        padding: 14px 20px;
      }
    }
  }

  // Fixed Header
  &--fixed {
    background: $header-background;
    box-shadow: 0px 5px 0px 0px rgba($black, 0.04);

    // Header
    .nav {
      // Link
      &__link {
        color: $gray;

        // Hover
        &:hover {
          color: $accent;
        }

        // Active
        &--active {
          color: $accent;
        }

        // Button
        &--button {
          background: $accent;
          color: $white;

          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  // Centered Header
  &--centered {
    // Column
    .col {
      justify-content: center;
    }

    // Header
    .header {
      // Logo
      &__logo {
        margin: 0 0 ($gutters * 2);
      }
    }

    // Nav
    .nav {
      width: 100%;
      justify-content: center;
    }
  }
}