.input {
  outline: 0;
  border: 2px solid rgba($black, 0.2);
  border-radius: 3px;
  padding: 14px 20px;
  box-sizing: border-box;
  color: $gray;
  font-family: inherit;
  font-size: 14px;
  font-weight: $semibold;
  line-height: normal;
  transition: 0.3s ease;

  // Focus
  &:focus {
    color: $accent;
  }

  // Block
  &--block {
    display: block;
    width: 100%;
  }

  // Small
  &--sm {
    padding: 8px 12px;
    font-size: 12px;
  }

  // Large
  &--lg {
    padding: 20px 32px;
    font-size: 18px;
  }
}