// Nav
.nav {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;

  // List Item
  li {
    margin: 0;
  }

  // Link
  &__link {
    position: relative;
    margin: 0 24px;
    color: rgba($white, 0.6);
    font-size: 14px;
    font-weight: $bold;
    text-transform: uppercase;
    transition: 0.3s ease;

    // Hover
    &:hover {
      color: $white;
    }

    // Brackets
    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      opacity: 0;
      transition: 0.3s ease;
    }

    &::before {
      content: '[';
      left: -10px;
      transform: translateX(20px);
    }

    &::after {
      content: ']';
      right: -10px;
      transform: translateX(-20px);
    }

    // Active
    &--active {
      color: $white;

      // Brackets
      &:before,
      &:after {
        opacity: 1;
        transform: translateX(0);
      }
    }

    // Button
    &--button {
      @extend .btn;

      color: $accent;

      &:hover {
        color: $accent;
      }
    }
  }
}