// Variables
@import "modules/_variables";

// Mixins
@import "modules/_mixins";

// ResetCSS
@import "vendors/_reset";

// Body
body {
  background: $background;
  height: 100%;
  color: $base-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Typography
@import "partials/_typography";

// Button
@import "partials/_buttons";

// Grid
@import "partials/_grid";

// Header
@import "partials/_header";