// Fonts
$body-font: "Raleway";
$header-font: "Raleway";

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$ultra: 800;

// Colors
$black: #000000;
$dark-gray: rgba($black, 0.8);
$gray: rgba($black, 0.4);
$light-gray: rgba($black, 0.2);
$white: #FFFFFF;

// Theme Colors
$accent: #57CEDB;

// Base Setting
$base-color: $gray;
$base-font-family: $body-font, sans-serif;
$base-font-size: 14px;
$base-font-weight: $regular;
$base-line-height: 1.6em;

// Layout Settings
$background: darken($white, 10%); // #F2F2F2
$max-width: 1280px;
$columns: 4;
$gutters: 20px;

// Header Settings
$header-background: $white;

// Footer Settings
$footer-background: #5B6269;