
doctype html
html

  //- Head
  include core/head.tpl.jade

  //- Body
  body

    //- Header
    include lib/header.tpl.jade

    //- Hero
    include lib/hero.tpl.jade

  //- Footer
  include lib/footer.tpl.jade

  //- Foot
  include core/foot.tpl.jade