
doctype html
html

  //- Head
  include core/head.tpl.jade

  //- Body
  body

    //- Header
    include lib/header.tpl.jade

    div(class='hero')
      +container
        +row: +col(4)
          | test

  //- Foot
  include core/foot.tpl.jade