// Hero
div(class='hero')
  +container
    +row: +col(4)

      // Hero Promo
      div(class='hero__promo')

        // Hero Text
        div(class='hero__text')

          // Hero Title
          h1(class='hero__title') The <b>true innovation</b> is finally here.

          // Hero Subtitle
          h4(class='hero__subtitle') Convenient, yet simple; Complex, yet easy;
            a(href='#')  Blink.

        // Hero Button
        a(class='hero__button'
          href='#') Get Started Now