// JavaScript
// bower:js
script(src='../../assets/components/jquery/dist/jquery.js')
script(src='../../assets/components/get-style-property/get-style-property.js')
script(src='../../assets/components/get-size/get-size.js')
script(src='../../assets/components/eventie/eventie.js')
script(src='../../assets/components/doc-ready/doc-ready.js')
script(src='../../assets/components/eventEmitter/EventEmitter.js')
script(src='../../assets/components/matches-selector/matches-selector.js')
script(src='../../assets/components/fizzy-ui-utils/utils.js')
script(src='../../assets/components/outlayer/outlayer.js')
script(src='../../assets/components/masonry/masonry.js')
// endbower
script(src='assets/js/scripts.js')