//- Container
mixin container(fluid)
  if !fluid
    div(class='container')
      block
  else
    div(class='container'
        fluid)
      block

//- Row
mixin row
  div(class='row')
    block

//- Column
mixin col(columns)
  div(class='col col-#{columns}')
    block

//- Button
mixin button(href, type, value)
  a(class='btn #{type}'
    href=href)=value